{% extends "layout.html" %}

{% block content %}

<h2>Billing</h2>

<table>

<tr>
<th>Product</th>
<th>Price</th>
<th>Quantity</th>
<th>Subtotal</th>
</tr>

{% for item in items %}

<tr>

<td>{{ item.name }}</td>

<td>₹ {{ item.price }}</td>

<td>{{ item.qty }}</td>

<td>₹ {{ item.subtotal }}</td>

</tr>

{% endfor %}

</table>

<h3>Total Amount: ₹ {{ total }}</h3>

<form action="/place_order" method="POST">

<label>Select Payment Method</label><br><br>

<select name="payment_method">

<option value="Cash">Cash on Delivery</option>

<option value="Online">Online Payment</option>

</select>

<br><br>

<button type="submit">Place Order</button>

</form>

<br>

<a href="/cart">
<button>Back to Cart</button>
</a>

{% endblock %}