{% extends "layout.html" %}

{% block content %}

<h2>Billing</h2>

<table class="cart-table">

<tr>
<th>Product</th>
<th>Price</th>
<th>Quantity</th>
<th>Subtotal</th>
</tr>

{% for item in items %}

<tr>

<td>{{ item.name }}</td>

<td>₹ {{ "%.2f"|format(item.price) }}</td>

<td>{{ item.qty }}</td>

<td>₹ {{ "%.2f"|format(item.subtotal) }}</td>

</tr>

{% endfor %}

</table>

<h3>Total: ₹ {{ "%.2f"|format(total) }}</h3>

<br>

<form action="/place_order" method="POST">

<label>Select Payment Method</label>

<select name="payment_method">

<option value="Cash">Cash On Delivery</option>
<option value="Online">Online Payment</option>

</select>

<br><br>

<button class="checkout-btn">
Place Order
</button>

</form>

{% endblock %}