{% extends "layout.html" %}

{% block content %}

<h2>Recommended Products</h2>

<p><b>Category:</b> {{ category }}</p>
<p><b>Sub Category:</b> {{ sub_category }}</p>

<div class="product-grid">

{% for product in recommendations %}

<div class="card">

<img src="{{ url_for('static', filename='images/product.png') }}">

<p class="product-name">{{ product[1] }}</p>

<p class="price">₹ 100</p>

<button onclick="addToCart('{{ product[0] }}')">
Add to Cart
</button>

</form>

</div>

{% endfor %}

</div>

<br>

<a href="/products">
<button>Back</button>
</a>

{% endblock %}