<!DOCTYPE html>
<html>

<head>

<title>Sign Up</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="auth-container">

<h2>Create Account</h2>

<form action="/signup" method="POST">

<label>Name</label>
<input type="text" name="name" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<label>Country</label>
<input type="text" name="country" required>

<label>State</label>
<input type="text" name="state" required>

<label>City</label>
<input type="text" name="city" required>

<label>Postal Code</label>
<input type="text" name="postal" required>

<br><br>

<button type="submit">Sign Up</button>

</form>

<br>

<a href="/login">
<button>Back to Login</button>
</a>

</div>

</body>

</html>