{% extends "layout.html" %}

{% block content %}

<h2>Create New Account</h2>

<form action="/signup" method="POST">

<label>Name</label><br>
<input type="text" name="name" required><br><br>

<label>Email</label><br>
<input type="email" name="email" required><br><br>

<label>Password</label><br>
<input type="password" name="password" required><br><br>

<label>Country</label><br>
<input type="text" name="country" required><br><br>

<label>State</label><br>
<input type="text" name="state" required><br><br>

<label>City</label><br>
<input type="text" name="city" required><br><br>

<label>Postal Code</label><br>
<input type="text" name="postal" required><br><br>

<button type="submit">Sign Up</button>

</form>

<br>

<a href="/">
<button>Back</button>
</a>

{% endblock %}